node_modules
src
.vscode
.idea
*.log
.DS_Store
tsconfig.json
tsup.config.ts
tsup.vue2.config.ts
vite.config.ts
*.local
example.vue
PUBLISH.md
.git
.gitignore
.env
.env.local
*.test.ts
*.test.js
*.spec.ts
*.spec.js
coverage
.nyc_output
